<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- Mapper에서 type을 간단하게 적기위해서 Alias 지정하는 란 ( 여러개 지정 가능 ) -->
	<typeAliases>
 		<typeAlias type="com.oyster.myboard.domain.ArticleDto" alias="ArticleDto"/>
 		<typeAlias type="com.oyster.myboard.domain.ReplyDto" alias="ReplyDto"/>
		<typeAlias type="com.oyster.myboard.domain.UserDto" alias="UserDto"/>
	</typeAliases>
	
</configuration>